/* Self-hosted latin subsets from Google Fonts. Licences: OFL, see LICENSES.md */
@font-face{font-family:'Cormorant Garamond';font-style:italic;font-weight:600;font-display:swap;src:url(CormorantGaramond-italic-600.woff2) format('woff2');}
@font-face{font-family:'Eczar';font-style:normal;font-weight:500 700;font-display:swap;src:url(Eczar-normal-500-700.woff2) format('woff2');}
@font-face{font-family:'Mukta';font-style:normal;font-weight:400;font-display:swap;src:url(Mukta-normal-400.woff2) format('woff2');}
@font-face{font-family:'Mukta';font-style:normal;font-weight:500;font-display:swap;src:url(Mukta-normal-500.woff2) format('woff2');}
@font-face{font-family:'Mukta';font-style:normal;font-weight:600;font-display:swap;src:url(Mukta-normal-600.woff2) format('woff2');}
